/*body {
    /* background-color: rgba(0, 0, 0, 0.7); *
    color: ivory;
    text-align: center;
    background-image: url('../../image/spaghetti.jpg');
    /* background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px; *
    background-position: center;
    /* background-position-x: center; *
    background-size: 1530px 1110px;  
      
}*/
/* 
.button {
    background-color: rgba(0 , 0, 0, 0.9);
    position: center;
    letter-spacing: unset;
    /* text-transform: lowercase; *
    font-size: 20px;
 



   
}*/

