.form-ingredients{
    width:50%;
    margin:50px auto;
    background-color:rgba(255, 255, 255, 0.7);
    padding-top: 15px;

}
/* .buttontext {
   background-color: rosybrown;
   width: 50%;
   font-size: 1em;
   text-align: center;
   margin-left: 30px;

} */