.button {
    color: red;
}

.home {
    text-align: center;
    padding-top: 20px;
    color: darksalmon;
} 

.Navbar {
    color: greenyellow;
}

.login_form {
    width: 100%;
    max-width: 500px ;
    padding: 15px;
    margin: auto;
    height: 100%;
    background-color: darkslateblue;
    color: white;
    position: relative;
}